<div>
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-white">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Nuevo Conocimiento / Habilidad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <form (ngSubmit)="onCreate()" class="custom-form" method="" #formNuevaSkill="ngForm">
                <div class="modal-body">

                    <div class="mb-2 form-group">
                        <label for="nombreSkillNuevo" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombreSkillNuevo"
                            placeholder="Ingrese el nombre del conocimiento o habilidad" name="nombreSkillNuevo"
                            [(ngModel)]="nombreSkillNuevo" required>
                    </div>
                    <div class="mb-2 form-group">
                        <label for="avanceNuevo" class="form-label">Avance:</label>
                        <input type="number"min="0" step="5" max="100" class="form-control" id="avanceNuevo"
                            placeholder="Ingrese el % de avance del 0 al 100" name="avanceNuevo"
                            [(ngModel)]="avanceNuevo" required>
                    </div>
                    <div class="mb-2 form-group">
                        <label for="catSkillNuevo" class="form-label">Categoría:</label>
                        <input class="form-control inhabilitado" id="catSkillNuevo"  name="catSkillNuevo" [(ngModel)]="nombreCatSkillAsignada" disabled>
                            

                    </div>


                </div>


                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button [disabled]="formNuevaSkill.invalid" type="submit" class="btn btn-success"
                        data-bs-dismiss="modal">Agregar experiencia</button>
                </div>
            </form>
        </div>
    </div>
</div>