<!-- Portada - importante que ocupe toda la pantalla -->
<div id="section1" class="d-flex align-items-center justify-content-center bg-dark text-white text-center" style="background-image: url({{usuario?.backgroundImage}})">
    <div class="mx-auto">
        <div *ngIf="estaLogueado()" class="mb-2">
            <i class="fa-regular fa-pen-to-square m-3 verde shadowArce edicion" data-bs-toggle="modal"
            data-bs-target="#editarUsu" ></i>
        </div>
        <div class="d-flex mx-auto text-center">
            <h1 class="verde shadowArce text-center mx-auto">{{usuario?.nombre}}</h1>            
        </div>
        <div class="d-flex mx-auto text-center" >
            <p class="lead shadowArce mb-4 text-center mx-auto">{{usuario?.profesion}}</p>            
        </div>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a [href]="usuario?.linkIn" target="_blank">
                    <i class="fab fa-linkedin  lead hoverVerde"></i>
                </a>
            <li class="list-inline-item">
                <a [routerLink]="'/contacto'" target="_blank">
                    <i class="fa-regular fa-envelope  lead hoverVerde"></i>
                </a>
            </li>

            <!-- Acá no el href debería redirigir al https://wa.me/ y el número que esté en base de datos. 
                No lo hago así y lo dejo fijo con mi nro real para asegurarme de poder responder el whatsapp aunque alguien
                probando lo edite probando el porfolio-->
            <li class="list-inline-item">
            <a href="https://wa.me/5491151171835" target="_blank">
                <i class="fab fa-whatsapp lead hoverVerde"></i>
            </a>
            </li>
            <li class="list-inline-item">
                <a [href]="usuario?.linkGH" target="_blank">
                    <i class="fab fa-github lead hoverVerde"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a [href]="usuario?.linkIG" target="_blank">
                    <i class="fab fa-instagram lead hoverVerde"></i>
                </a>
            
            </li>
        </ul>
    </div>

    <app-editar-usuario id="editarUsu"  class="modal" (onEditEvent)="renderizar()"></app-editar-usuario>

</div>
