<div id="section2" class="container-fluid mb-0">
  <!-- Acá se genera un espacio que se va a ir rellenando según el botón que se aprete-->
  <div class="row mt-5 mb-0 pb-0 mx-1 ocupa-todo">
    <div class="col-md-9 tab-content mb-0 pt-0 pb-0 scroll" data-bs-spy="scroll">
      <!-- Lo que aparece por default. Id= sobreMí-->
      <app-descripcion-sobre-mi
        id="sobreMi"
        class="container tab-pane active ocupa-60"
      ></app-descripcion-sobre-mi>

      <!-- Relleno que aparece si se apreta experiencia-->
      <app-experiencia-laboral
        id="experiencia"
        class="container tab-pane fade m-0 p-0 ocupa-60"
      ></app-experiencia-laboral>

      <!-- Relleno que aparece si se apreta formación-->

      <app-educacion
        id="formacion"
        class="container tab-pane fade ocupa-60 m-0 p-0"
      ></app-educacion>
    </div>
    <div
      class="col-md-3  mt-5 mb-0 pb-0 d-flex flex-column justify-content-between" id="fijo"
    >
      <!-- Acá está la barra navegadora de la sección. Según qué elemento se cliequea es lo que se muestra-->
      <div
        class="d-flex flex-column justify-content-between mt-3 mx-1"
        id="navSobremi"
      >
        <ul class="nav nav-tabs flex-column" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link text-muted active"
              data-bs-toggle="tab"
              href="#sobreMi"
              >¿Quién soy?</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-muted"
              data-bs-toggle="tab"
              href="#experiencia"
              >Experiencia</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-muted"
              data-bs-toggle="tab"
              href="#formacion"
              >Formación</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-muted"
              href="assets/CV_Leticia Portillo_español.pdf"
              download
              >CV en pdf</a
            >
          </li>
        </ul>
      </div>
      <!-- Acá la foto-->
      <div id="divImagen my-0 py-0">
        <i
          *ngIf="estaLogueado()"
          class="fa-regular fa-pen-to-square verde text-success float-end"
        > Editar imagen y cv</i>
        <img
          [src]="foto"
          alt="Foto Leticia Portillo"
          class="rounded img-fluid align-items-end mb-0 pb-0"
          id="imgLeti"
        />
      </div>
    </div>
  </div>
</div>
