/* Seciión2 Sobre mí*/
#section2{
    margin: 0;    
    background-color: #e5e1e1;
    color: black; 
    padding: 40px 0px 0px 20px;
    font-family: 'Montserrat', sans-serif;    
    min-height: 100vh;   
}

.card{
    background-color: #e5e1e1;  
    width: 95%;
}


.ocupa-60{
    /* width: 70vw; */
    padding-top: 0px;
    margin-top: 0px;

}

.card-title{
    font-size: 1.2rem;
}

.card-text{
    font-size: 0.9rem;
}

.chico{
    font-size: 0.8rem;
}

.muyChico{
    font-size: 0.6rem;
}

.logoEducacion{
    width: 3rem;
}

#divImagen{
    grid-area: foto;
}

@media only screen and (max-width: 600px){
    #divImagen{
        align-content: flex-end;
    }
}
.logoEnTarjeta{
    width: 4rem;
}

.tarjeta{
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 1%;
    width: 70%;
    margin:auto;
}

i {
    font-size: 0.75rem;
}

.icono-principal{
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: bold;
    
}

.mas-en-educacion{
    font-size: 0.8rem;
    color: black;
    font-weight: bold;
    margin: auto;
}

#fijo{
    max-height: 100vh;
}
.ocupa-todo{
    min-height: 85vh;
}

@media only screen and (max-width: 600px){
    .ocupa-todo{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        min-height: auto;
        
    }
    ul{
        display: flex !important;
        flex-direction: row !important;
    }

    #navSobremi{
        display: flex !important;
        flex-direction: row !important;
        width: 50%;
        margin: 0 !important;
        font-size: 1rem !important;
    }

    #imgLeti{
        width: 10rem;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 50%
    }

    #fijo {
        display: flex; 
        flex-direction: row !important;
        margin-top: 0 !important;
        padding-top: 0 !important;
        max-height: auto;
        box-shadow:2px 2px rgba(0, 0, 0, 0.1);
    }
}

.scroll{
    overflow-y: scroll;
    max-height: 80vh;
}
  
  .scroll::-webkit-scrollbar-thumb:hover {
    background: #555; 
  } 


 .scroll::-webkit-scrollbar {
    background: #bebcbc; 
    border-radius: 20px; 
    opacity: 0.5; 
    width: 0.5rem;   
    height: 50%;  
}
.scroll::-webkit-scrollbar-thumb {
    background: #979595; 
    opacity: 0.4;
    width: 0.6rem;
    height: 50%;
    border-radius: 20px;
  }

  @media only screen and (max-width: 600px){
    .scroll{
        margin-top: 1.5rem;
       
    }
}


